@import "tailwindcss";

.auth-form {
    position: relative;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border-radius: 30px;
    @apply bg-zinc-300;
}

@media screen and (min-width: 768px) {
    .auth-form {
        min-width: unset;
        width: 400px;
        height: fit-content;
        border-radius: 30px;
        @apply bg-zinc-200;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    }
}

.auth-form__inner {
    padding: 22px;
    border-radius: 30px;
    @apply bg-white;
}

.auth-form__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.auth-form__title {
    font-size: 20px;
    @apply text-black;
}

.auth-form__text {
    @apply text-black;
    text-align: center;
    margin-top: 16px;
}

.auth-form__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    margin-bottom: 16px;
}

.auth-form__go-back-button {
    width: fit-content;
    font-size: 14px;
    text-decoration: underline;
    margin: 16px auto 0;
}
