@import url('./assets/css/fonts.css');
@import "tailwindcss";

@theme {
  --font-onest: Onest, Arial, sans-serif;
  --color-primary: #BAFF39;
  --color-primary-hover: #000;
  --color-grey: #1E1E1E;
  --color-grey-light: #AEAEAE;
}

html,
body {
  @apply bg-white text-grey font-sans;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  @apply hover:cursor-pointer;
}

.link {
  @apply text-blue-500 hover:text-blue-600;
  text-decoration: underline;
}