@import "tailwindcss";

.auth-form {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .auth-form {
        min-width: unset;
        width: 400px;
        height: fit-content;
        border-radius: 12px;
        padding: 16px 32px;
    }
}

.auth-form__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 16px;
}

.auth-form__title {
    font-size: 20px;
    @apply text-black;
}

.auth-form__text {
    @apply text-black;
    text-align: center;
    margin-bottom: 16px;
}

.auth-form__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    margin-bottom: 16px;
}

.auth-form__go-back-button {
    font-size: 14px;
}
