@import 'tailwindcss';
@reference '@/app.css';

.button_primary {
    @apply bg-blue-500 hover:bg-blue-600;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: .2s backround-color;
    padding-block: 8px;
}

.button {
    width: 100%;
    border-radius: 5px;
}