@import 'tailwindcss';

.dropdown {
    position: relative;

    &:hover {
        @apply text-white;
    }
}

.dropdown::after {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    right: 50%;
    display: block;
}

.dropdown__button.opened::after {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    right: 50%;
    display: block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    z-index: 10;
    @apply bg-white border border-l-zinc-300 border-t-zinc-300 border-r-0 border-b-0;
}

.dropdown__list {
    position: absolute;
    top: calc(100% + 10px);
    right: -30px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    padding: 4px;
    @apply border border-zinc-300;
}

.dropdown__item {
    padding: 3px 10px;
    @apply text-zinc-600 hover:text-zinc-600;

    &:hover {
        @apply bg-zinc-100;
    }
}
